#mois span {
    width: 20vw;
    height: 20vh;
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin: 5px;
    border: 1px solid lightblue;
    border-radius: 10px;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
}

#mois span:hover {
    cursor: pointer;
}

#mois li {
    height: 100%;
}

span .donnee {
    height: min(8vw, 4vh);
    width: min(8vw, 4vh);
    background-color: brown;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 5%;
    left: 50%;
    translate: -50%;
}

.haut {
    height: 35%;
    width: 100%;
    background-color: rgb(240, 44, 44);
    font-size: min(4.5vw , 4vh);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bas {
    height: 65%;
    width: 100%;
    background-color: cornsilk;
}

.explication {
    margin-top: 20px;
    position: relative;
    display: inline;
    width: fit-content;
}

.donneeExplication {
    height: min(8vw, 4vh);
    width: min(8vw, 4vh);
    background-color: brown;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}