li.menuType {
    display: inline;
    list-style-type: none;
    margin-left: 20px;
}

li.menuType:hover {
    cursor: pointer;
}

li.selection {
    font-weight: bold;
}

ul {
    padding-inline-start: 0px;
}
