.moisAutre {
    margin-top: 5px;
    color: darkgrey;
    font-weight: 800;
}

.moisActuel {
    margin-top: 5px;
    color: black;
    font-weight: 700;
}

#nomJour li {
    width: 13.5vw;
    text-align: center;
    display: inline-block;
}

#jours span {
    width: 13vw;
    height: 10vh;
    list-style-type: none;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    margin: 2px;
    border: 1px solid lightblue;
    vertical-align: top;
    position: relative;
}

#jours span:hover {
    cursor: pointer;
}

span .donnee {
    height: min(6vw, 3vh);
    width: min(6vw, 3vh);
    background-color: brown;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 5px;
    left: 50%;
    translate: -50%;
}

.explication {
    margin-top: 20px;
    position: relative;
    display: inline;
    width: fit-content;
}

.donneeExplication {
    height: min(6vw, 3vh);
    width: min(6vw, 3vh);
    background-color: brown;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}