{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', path= 'css/annee.css') }}">
    <span id="titre" align="center">
        <img align="left" class="imgTitre" src="{{ url_for('assets', path= 'flecheGauche.png') }}" onclick="precedent({{ annee|safe }})" width="30px" height="30px">
        <h1 class="titre">{{ annee }}</h1>
        <img align="right" class="imgTitre" src="{{ url_for('assets', path= 'flecheDroite.png') }}" onclick="suivant({{ annee|safe }})" width="30px" height="30px">
    </span>
    <ul id="mois" align="center">
        {% for i in range(1, 13) %}
            <span onclick="ouvrir(this)" id="/{{ annee }}/{{ i }}">
                <li>
                    <div class="haut">
                        {{ MOIS[i][0] }}
                    </div>
                    <div class="bas">
                        {% if donnees[i - 1] %}
                            <div class="donnee"></div>
                        {% endif %}
                    </div>
                </li>
            </span>
        {% endfor %}
    </ul>
    <span class="explication" align="center">
        <div class="donneeExplication"></div>
         <p>signifie que des données sont présentes ce mois-ci.</p>
    </span>
{% endblock %}