{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', path= 'css/mois.css') }}">
    <span id="titre" align="center">
        <img align="left" class="imgTitre" src="{{ url_for('assets', path= 'flecheGauche.png') }}" onclick="precedent({{ annee|safe }}, {{ mois|safe }})" width="30px" height="30px">
        <h1 class="titre" href="/{{ annee|safe }}/{{ mois|safe}}">{{ MOIS[mois][0] }}</h1><a class="titre" href="/{{ annee|safe }}">{{ annee }}</a>
        <img align="right" class="imgTitre" src="{{ url_for('assets', path= 'flecheDroite.png') }}" onclick="suivant({{ annee|safe }}, {{ mois|safe }})" width="30px" height="30px">
    </span>
    <ul id="nomJour">
        <li>Lundi</li>
        <li>Mardi</li>
        <li>Mercredi</li>
        <li>Jeudi</li>
        <li>Vendredi</li>
        <li>Samedi</li>
        <li>Dimanche</li>
    </ul>
    <ul id="jours" align="center">
        {% for i in range(skip, 0, -1) %}
            <span>
                <li class="moisAutre">{{ jourPrec - i + 1}}</li>
            </span>
        {% endfor %}
        {% for i in range(nbJour) %}
            <span onclick="ouvrir(this)" id="/{{ annee }}/{{ moisZfill }}/{{ i + 1 }}">
                <li class="moisActuel">{{ i + 1 }}</li>
                {% if donnees[i] %}
                    <div class="donnee"></div>
                {% endif %}
            </span>
        {% endfor %}
        {% for i in range((7 - ((nbJour + skip) % 7)) % 7) %}
        <span>
            <li class="moisAutre">{{ i + 1}}</li>
        </span>
        {% endfor %} 
    </ul>
    <span class="explication" align="center">
        <div class="donneeExplication"></div>
         <p>signifie que des données sont présentes ce jour-ci.</p>
    </span>
{% endblock %}